{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="login-wrapper">
        <form class="form-horizontal form-login" role="form" method="post">
            <h2>Please login</h2>
            {% if error_username %}
                {% set status = " has-error has-feedback" %}
                {% set placeholder = error_username %}
                {% set nameGlyphi = " glyphicon-remove" %}
            {% elif initial %}
                {% set status = "" %}
                {% set placeholder = "Username" %}
                {% set nameGlyphi = " sr-only" %}
            {% else %}
                {% set status = " has-success has-feedback" %}
                {% set placeholder = "Username" %}
                {% set nameGlyphi = " glyphicon-ok" %}
            {% endif %}
            <div class="form-group{{status}}">
                <label for="inputUsername" class="control-label">Username</label>
                <input type="text" class="form-control glyphicon-form" id="inputUsername" name="username" value="{{username}}" placeholder="{{placeholder}}">
                <span class="glyphicon{{nameGlyphi}} form-control-feedback" aria-hidden="true"></span>
            </div>
            {% if error_username %}
                <div class="error">
                    {{error_username}}
                </div>
            {% else %}
                <br>
            {% endif %}

            {% if error_password %}
                {% set status = " has-error has-feedback" %}
                {% set placeholder = error_password %}
                {% set nameGlyphi = " glyphicon-remove" %}
            {% elif initial or error_username %}
                {% set status = "" %}
                {% set placeholder = "Password" %}
                {% set nameGlyphi = " sr-only" %}
            {% else %}
                {% set status = " has-success has-feedback" %}
                {% set placeholder = "Password" %}
                {% set nameGlyphi = " glyphicon-ok" %}
            {% endif %}
            <div class="form-group{{status}}">
                <label for="inputPassword" class="control-label">Password</label>
                <input type="password" class="form-control glyphicon-form" id="inputPassword" name="password" value="" placeholder="{{placeholder}}">
                <span class="glyphicon{{nameGlyphi}} form-control-feedback" aria-hidden="true"></span>
            </div>
            {% if error_password %}
                <div class="error">
                    {{error_password}}
                </div>
            {% else %}
                <br>
            {% endif %}

            <br>
            <button class="btn btn-lg btn-block btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>


{% endblock %}